<div class="container">
  <h1>Answer</h1>
  <p>Voici votre réponse</p>

  <h1>Voici ta question :</h1>
  <%=  @question %>
  <br>
  <div class="answer">
    <%= @answer %>
  </div>
  <br>
  <%= link_to "Go Back", ask_path%>
</div>
