<div class="container">
  <h1>Questions</h1>
  <p>Stupid coaching</p>

  <form action="/answer" method="get" id="form">
    <input type="text" name="question" placeholder="Ask">
    <input type="submit" value="Ask!">
  </form>
</div>
